<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <p><%= paperItem.id %></p>
        <p><%= paperItem.type %></p>
        <p><%= paperItem.floar %></p>
        <p><%= paperItem.class_number %></p>
        <p><%= paperItem.name %></p>
        <p><%= paperItem.create_at</p>
    </body>
</html>